<h3>Cart ({{ items.length }})</h3>

<p>
  <a routerLink="/shipping">Check Shipping Prices</a>
</p>

<div *ngIf="isEmptyCart; else checkoutBlock">
  <p>
    Your cart is empty. <a routerLink="/">Explore our products</a> and enjoys!
  </p>
</div>
<ng-template #checkoutBlock>
  <div class="cart-item" *ngFor="let item of items">
    <span>{{ item.name }} </span>
    <span>{{ item.price | currency }}</span>
  </div>
  <div class="cart-item">
    <span><strong>Order Total:</strong></span>
    <span
      ><strong>{{ totalPrice | currency }}</strong></span
    >
  </div>

  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name"> Name </label>
      <input id="name" type="text" formControlName="name" />
    </div>

    <div>
      <label for="address"> Address </label>
      <input id="address" type="text" formControlName="address" />
    </div>

    <button class="button" type="submit">Checkout</button>
  </form>
</ng-template>
